{% extends 'base.html.twig' %}

{% block title %}
	{{ titre }}
{% endblock %}

{% block body %}
	<h1>Welcome
		{{ nom|upper }}</h1>

	{# Un commmentaire dans twig #}

	{% if users %}

		{% for user in users %}
			<ul>
				<li>{{ user.nom }}</li>
				<li>{{ user.email }}</li>
				<li>{{ user.age }}</li>
			</ul>
		{% endfor %}

	{% else %}

		<p>Aucun user !!!!</p>

	{% endif %}

	<a href="{{ path('app_lucky_number') }}">Lucky Number</a>

{% endblock %}
