{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1>Register</h1>

	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm) }}

	{{ form_row(registrationForm.email, {
            label: 'Courriel'
        }) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
	{# {{ form_row(registrationForm.agreeTerms, {
	            label: 'Conditions d\'utilisation'
	        }) }} #}

	{{ form_row(registrationForm.agreeTerms, {
            label: '<a href="' ~ path("cgu") ~ '" target="blank">' ~ "Accepter les CGUs" ~ '</a>',
            label_html: true
        }) 
    }}

	{{ form_row(registrationForm.submit, { 'label': 'Inscription' }) }}

	{# <button type="submit" class="btn btn-primary">Inscription</button> #}

	{{ form_end(registrationForm) }}
{% endblock %}